.button-link {
    text-decoration: none;
    color: white;
  }
  
  .edit-btn {
    background-color: yellow;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-btn {
    background-color: red;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  .add-btn {
    background-color: #007bff; /* Mã màu xanh dương */
    /* Các thuộc tính định dạng khác cho nút */
    color: #fff; /* Màu chữ trắng */
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
 